header {
  background-color: #000000;
}
header .navbar-brand {
  margin: 0 !important;
  color: #fff;
  font-size: 24px;
  padding: 0 !important;
}
header .navbar-brand span {
  color: red;
  padding: 0 !important;
}
header .navbar-brand:hover {
  color: #fff;
}
header .nav-item a {
  color: #fff;
}
header .nav-item a:hover {
  color: #fff;
}
header .navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 !important;
  border: 0 !important;
}
header .navbar-toggler {
  border: 0 !important;
}
header .menu-tgl {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5) !important;
}
header .nav-right {
  justify-content: end !important;
}
header .navbar-nav {
  gap: 40px;
  font-size: 13px;
  font-weight: 500;
}

#sec-one {
  background: url("/assets/img/bg_1 (1).jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0;
}
#sec-one .sec-one-content {
  padding: 80px 0;
}
#sec-one .sec-one-content .sec-one-text-content {
  padding: 80px 0;
  color: #fff;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
#sec-one .sec-one-content .sec-one-text-content h2 {
  font-size: 40px;
  margin-bottom: 20px;
}
#sec-one .sec-one-content .sec-one-text-content button {
  height: 55px;
  width: 128px;
  background-color: red;
  color: #fff;
  border-radius: 6px;
  border: 0;
}
#sec-one .sec-one-content .sec-one-text-content .right-content {
  text-align: end;
}

#sec-two {
  padding: 40px 0;
}
#sec-two .sec-two-content {
  padding: 40px 0;
}
#sec-two .sec-two-content .sec-two-head-text {
  text-align: center;
}
#sec-two .sec-two-content .sec-two-cards {
  padding: 40px 0;
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}
#sec-two .sec-two-content .sec-two-cards .cart {
  text-align: center;
}
#sec-two .sec-two-content .sec-two-cards .cart img {
  margin-bottom: 30px;
}
#sec-two .sec-two-content .sec-two-cards .cart p {
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 500;
}

#sec-three {
  padding: 40px 0;
}
#sec-three .sec-three-content {
  padding: 40px 0;
}
#sec-three .sec-three-content .sec-three-head-text {
  text-align: center;
  padding: 20px;
}
#sec-three .sec-three-content .sec-three-head-text h2 {
  text-align: center;
}
#sec-three .sec-three-content .sec-three-cards {
  padding: 40px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}
#sec-three .sec-three-content .sec-three-cards .cart {
  width: 303px;
  background-color: #F3F3F3;
  padding: 30px 20px;
  border-radius: 6px;
}
#sec-three .sec-three-content .sec-three-cards .cart .xx {
  display: flex;
  align-items: center;
  gap: 20px;
}
#sec-three .sec-three-content .sec-three-cards .cart .xx img {
  width: 80px;
  border-radius: 50%;
}

#sec-four {
  padding: 40px 0;
}
#sec-four .sec-four-content {
  padding: 40px 0;
}
#sec-four .sec-four-content .sec-four-products-carts {
  padding: 40px 0;
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
}
#sec-four .sec-four-content .sec-four-products-carts .cart {
  width: 220px;
  background-color: red;
  padding: 10px;
}
#sec-four .sec-four-content .sec-four-products-carts .cart img {
  width: 100%;
}
#sec-four .sec-four-content .loadMore button {
  width: 160px;
  height: 45px;
  border-radius: 25px;
  border: 1px solid gray;
}

footer {
  background-color: #000000;
  padding: 20px 10px;
}
footer P {
  margin: 0;
  color: #fff;
  text-align: center;
}

.formBox {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}
.formBox form {
  width: 49%;
}

@media screen and (min-width: 0px) and (max-width: 900px) {
  header .navbar-nav {
    gap: 0px;
  }
  #sec-one {
    padding: 40px 0;
  }
  #sec-one .sec-one-content {
    padding: 40px 0;
  }
  #sec-one .sec-one-content .sec-one-text-content {
    padding: 40px 0;
    gap: 40px;
  }
  #sec-one .sec-one-content .sec-one-text-content .right-content {
    text-align: start;
  }
  .formBox {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
  }
  .formBox form {
    width: 100%;
  }
}